@media (max-width: 1200px)
  .container
    max-width: 960px
  .reference
    &__container
      max-width: 990px
    &__recommendation
      max-width: 650px
      &-button
        padding: 23px 223px 22px 247px
        white-space: nowrap
    &__block
      width: 320px
      padding: 11px 18px 11px 11px
      align-items: center
    &__image
      width: 140px
      height: 200px
      margin-right: 10px
    &__top
      &-blocks
        padding: 14px 10px 0 14px
        width: 320px
    &__name
      font-size: 18px
      line-height: 30px

@media (max-width: 992px)
  .container
    max-width: 760px
  .navbar
    &__menu-nav
      margin-right: auto
  .book
    &__description
    &__title
      font-size: 32px
      line-height: 48px
      margin-bottom: 24px
    &__subtitle
      font-size: 18px
      line-height: 32px
      margin-bottom: 26px
    &__annotation
      font-size: 14px
      line-height: 22px
      margin-bottom: 36px
    &__buttons
      max-width: 370px
    &__button
      &_buy
        padding: 18px 27px 18px 26px
        font-size: 14px
        line-height: 18px
      &_read
        padding: 17px 35px 16px
        font-size: 14px
        line-height: 18px
    &__image
      width: 400px
      height: 450px
      padding: 80px 90px 60px
    &__img
      margin-left: 0
      width: 200px
      height: 300px 
  .reference
    &__image
      width: 160px
      height: 220px
      margin-right: 30px
    &__recommendation
      display: flex
      flex-direction: column
      max-width: 50%
      &-button
        padding: 23px 100px 22px 105px
        min-width: 50%
    &__block
      flex-basis: 100%
      &-fourth,
      &-fifth,
      &-sixth
        display: none
    &__top
      flex-basis: 45%

@media (max-width: 768px)
  .container
    max-width: 85%  
  .logo
    width: 88px
  .navbar
    padding: 27px 0 16px 0
    &__menu
      width: 408px
      &-items
        width: 227px
        justify-content: space-evenly
      &-link
        font-size: 12px
        line-height: 18px
    &__button
      padding: 11px 26px
      font-size: 12px
      line-height: 18px
  .main
    padding: 40px 0 40px 0
  .book
    &__title
    font-size: 32px
    line-height: 40px
    &__subtitle
      margin-bottom: 18px
    &__annotation
      font-size: 12px
      line-height: 18px
      margin-bottom: 26px
    &__buttons
      width: 95%
    &__button
      &_buy
        padding: 16px 20px 16px 19px
        font-size: 12px
        flex-basis: 45%
      &_read
        padding: 16px 27px 15px
        font-size: 12px
        flex-basis: 45%
    &__image
      padding: 70px 60px 50px
  .reference
    padding: 29px 0 49px
    &__recommendation
      max-width: 47%
      &-button
        margin-top: 1px
        padding: 23px 75px 23px 75px
        min-width: 100%
    &__image
      margin-right: 10px
      width: 135px
      height: 210px
    &__block
      padding: 11px 11px 11px 11px
      margin-bottom: 20px
      &-info
        padding-top: 0
      &-button
        margin-right: 12px
    &__top
      &-block
        margin-bottom: 30px

@media (max-width: 740px)
  .book
    flex-direction: column
    &__description 
    &__title
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 24px
    &__subtitle
      font-size: 16px
      line-height: 24px
      text-align: center
      margin-bottom: 32px
    &__annotation
      font-size: 16px
      line-height: 23px
      text-align: center
      margin-bottom: 17px
    &__buttons 
      flex-direction: column
      text-align: center
      margin: 0 auto 36px
      width: 85%
    &__button
      &_buy
        margin-bottom: 15px
    &__img
      width: 67%
      height: 94%
    &__image
      height: auto
      padding: 70px 0px 67px 132px
      width: 90%
  .reference
    &__container
      flex-direction: column
      align-items: center
    &__recommendation
      text-align: center
      max-width: 87%
    &__block
      flex-direction: column
      &-second,
      &-third
        display: none
      &_br
        display: none
    &__image
      margin-top: -44px
    &__top
      text-align: center




  

@media (max-width: 576px)
  .logo
    width: 77px
  .navbar
    padding: 20px 0
    background-color: $light
    &__menu
      display: none
      position: fixed
      flex-direction: column
      left: 0
      right: 0
      bottom: 0
      top: 67px
      width: 100%
      height: 210px
      background-color: $primary-color
      overflow-y: scroll
      &-nav
        padding: 15px 0 20px 0
      &-items
        flex-direction: column
        align-items: center
        width: 100%
      &-item
        margin-bottom: 10px
      &-link
        font-size: 16px
        line-height: 22px
        color: $light
    &__button
      margin: auto
      display: flex
      align-items: center
      color: $light
      border: 2px solid $light      
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
  .menu
    &-button
      display: flex
      width: 22px
      height: 17.7px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      &__line
        width: 22px
        height: 2.2px
        background-color: #3A4C66
  .book
    padding: 87px 0 57px 0
    &__buttons
      width: 65%
    &__img
      width: 84%
      margin: auto
    &__image
      padding: 70px 0px 67px 55px

@media (max-width: 320px)
  .book
    &__image
      padding: 60px 0px 60px 66px
      height: 333px
      width: 280px
    &__img
      width: 144px
      height: 215px


@media (max-width: 576px)
  .navbar
    &__menu
      &--visible
        display: block

  