@media (max-width: 1200px)
  .container
    max-width: 960px
  .reference
    &__container
      max-width: 990px
    &__recommendation
      &-button
        padding: 20px 243px 20px 247px
        white-space: nowrap
    &__block
      width: 320px
      padding: 11px 18px 11px 11px
      align-items: center
    &__image
      width: 140px
      height: 200px
      margin-right: 10px
    &__top
      &-blocks
        padding: 14px 10px 0 14px
        width: 320px
    &__name
      font-size: 18px
      line-height: 30px
  .category
    &__slider
      &-container
        width: 990px
  .newsletter
    &__subscribe
      max-width: 417px
  .blog
    &__image
      width: 456px
      height: 300px
    &__card
      &-text
        margin-left: 0
      &-title
        margin-left: 0
      &_motivational
        margin-top: 0
      &-big
        margin-top: 0
      &-image
        margin-right: 26px

@media (max-width: 992px)
  .container
    max-width: 700px
  .main
    padding: 48px 0 40px 0
  .book
    &__description
      max-width: 455px
    &__title
      font-size: 32px
      line-height: 48px
      margin-bottom: 24px
    &__subtitle
      font-size: 18px
      line-height: 32px
      margin-bottom: 26px
    &__annotation
      font-size: 14px
      line-height: 22px
      margin-bottom: 36px
    &__button
      &_buy
        padding: 18px 27px 18px 26px
        font-size: 14px
        line-height: 18px
      &_read
        padding: 17px 35px 16px
        font-size: 14px
        line-height: 18px
    &__image
      width: 400px
      height: 450px
      padding: 80px 80px 60px 
    &__img
      margin-left: 0
      width: 200px
      height: 300px



  