.author-story
  padding: 104px 0 100px
  &__container
    max-width: 1006px
  &__description
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    max-width: 977px
  &__title
    font-family: $title-fonts
    font-weight: bold
    font-size: 48px
    line-height: 60px
    color: $primary-color
  &__text
    font-size: 18px
    line-height: 32px
    color: $secondary-color
    max-width: 386px
  &__videos
    display: flex
    flex-wrap: wrap
    &-items
      display: flex
      justify-content: space-between
      width: 100%
  &__video
    &-main
      position: relative
      .author-story__button
        display: flex
        position: absolute
        width: 100px
        height: 100px
        background-color: $light
        border-radius: 50%
        top: 47%
        left: 51%
        transform: translate(-50%,-50%)
      .author-story__play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 30px
        height: 39px
      .author-story__image-video
        width: 100%
        height: 380px
        object-fit: cover
        margin-bottom: 27px
    &-wrapper
      display: flex
      justify-content: space-between
    &-title
      font-family: $subtitle-fonts
      font-weight: 500
      font-size: 22px
      line-height: 32px
      color: $primary-color
      margin-bottom: 10px
    &-info
      font-size: 16px
      line-height: 22px
      color: $secondary-color
  &__image
    &-video
      width: 315px
      height: 200px
      object-fit: cover
      margin-bottom: 19px
  &__button
      border: none
      position: absolute
      width: 30px
      height: 39px
      top: 46%
      left: 52%
      transform: translate(-50%,-50%)
      background: none
  &__play
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.image-wrapper
  position: relative


@media (min-width: 992px)
  .author-story
    &__video
      &-main
        .author-story__button
          &:hover
            background-color: $background-secondary
    &__button
      width: 100px
      height: 100px
      &:hover
        background-color: $background-secondary
        border-radius: 50%
    &__play
      &:hover
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
