.category
  &__container
    padding-bottom: 38px
  &__hr
    max-width: 1140px
    border: 1px solid #ECEEF2
    margin: 0
  &__slider
    margin-top: 60px
    position: relative
    &-container
      display: flex
      justify-content: space-between
      position: relative
      width: 1150px
      height: 301px
      overflow: hidden
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 1px solid #ECEEF2
    border-radius: 8px
    min-width: 265px
    padding: 40px 16px 30px
    white-space: nowrap
  &__button
    background-color: $light
    border-radius: 50%
    position: absolute
    z-index: 1
    border: none
    width: 56px
    height: 56px
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    padding: 0
    &--next
      top: 30%
      left: 98%
    &-icon
      width: 14px
      height: 16px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      fill: $primary-color
  &__image
    width: 64px
    height: 64px
    object-fit: cover
    margin-bottom: 40px
  &__title
    font-family: $subtitle-fonts
    font-weight: 500
    font-size: 22px
    line-height: 32px
    color: $primary-color
    margin-bottom: 12px
  &__description
    font-size: 16px
    line-height: 22px
    color: $secondary-color

.swiper-wrapper
  display: flex
  justify-content: space-between
  