.footer
  padding-top: 108px
  padding-bottom: 80px
  &__wrapper
    display: flex
    justify-content: space-between
  &__social
    display: flex
    flex-direction: column
    justify-content: space-between
  &__text
    font-family: $text-fonts
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 28px
    color: $secondary-color
  &__title
    font-family: $text-fonts
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $primary-color
  &__ul
    list-style: none