.reference
  padding-top: 50px
  padding-bottom: 79px
  &__container
    display: flex
    justify-content: space-between
    
    max-width: 1143px
  &__recommendation
    max-width: 751px
    &-button
      padding: 25px 283px 27px 287px
      font-family: $title-fonts
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      background-color: rgba($accent-color, 0.1)
      color: $accent-color
      border-radius: 8px
      border: none
      margin-top: -8px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
    color: $primary-color
    margin-bottom: 30px
  &__blocks
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__block
    display: flex
    border: 1px solid #ECEEF2
    border-radius: 8px
    padding: 11px 38px 11px 11px
    width: 358px
    min-height: 260px
    margin-bottom: 32px
    &-info
      display: flex
      flex-direction: column
    &-button
      padding: 7px 20px
      border-radius: 2000px
      border: none
      background-color: $primary-color
      color: $light
      font-family: $text-fonts
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      max-width: 101px
      margin-right: 22px
    &-heart
      display: block
      width: 19px
      height: 17px
      background-image: url(../img/heart.svg)
      &:active 
        width: 19px
        height: 17px
        background-image: url(../img/heart-active.svg)
        transition: 0.3s
     
  &__buttons
    display: flex
    align-items: center
    
  &__image
    width: 160px
    height: 238px
    border-radius: 8px
    object-fit: cover
    margin-right: 20px
  &__name
    font-family: $subtitle-fonts
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    letter-spacing: 0.2px
    color: $primary-color
    margin-bottom: 16px
    white-space: nowrap
  &__book-category
    font-family: $text-fonts
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    color: $primary-color
    margin-bottom: 24px
  &__price
    font-family: $title-fonts
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.2px
    color: $accent-color
    margin-bottom: 24px
  &__top
    &-wrapper
      background-color: rgba($background-secondary, 0.1)
      border-radius: 8px 
    &-blocks
      padding: 24px 24px 0 24px
      width: 360px
       
    &-block
      display: flex
      margin-bottom: 36px
    &-image
      width: 119.33px
      height: 177.5px
      border-radius: 6px
      object-fit: cover
      margin-right: 26px 
    &-hr
      max-width: 321px
      border: 1px solid #ECEEF2
      margin: 0
      
    &-button
      padding: 24px
      width: 100%
      display: block
      white-space: nowrap
      font-family: $title-fonts
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
      text-align: center
      letter-spacing: 0.2px
      color: $accent-color

@media (min-width: 992px)
  .reference
    &__block
      &-button
        &:hover
          background-color: $accent-color
          transition: 0.3s
          
    &__recommendation
      &-button
        &:hover
          background-color: $accent-color
          color: $light
          transition: 0.3s
    &__top
      &-button
        &:hover
          background-color: $accent-color
          color: $light
          transition: 0.3s
          border-radius: 0 0 8px 8px

